## EXAMPLE OF LOCAL PROPERTIES FILE

GOOGLE_CLIENT_ID_ANDROID=<REPLACE_WITH_ANDROID_CLIENT_ID_53XXXXXXXXX-XXXXXXXXXXXX.apps.googleusercontent.com>
GOOGLE_CLIENT_ID_WEB_APPLICATION=<REPLACE_WITH_WEB_APPLICATION_CLIENT_ID_53XXXXXXXX-XXXXXXXXX.apps.googleusercontent.com>
GITHUB_CLIENT_ID=<REPLACE_WITH_GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<REPLACE_WITH_GITHUB_CLIENT_SECRET>